{{ define "main" }}
  <div class="welcome-section">
    <span class="logo">
      <img src="{{ .Params.page_content.image | relURL }}" width="160" alt="{{ .Params.page_content.image_alt }}">
    </span>
    <h1>{{ .Params.page_content.title }}</h1>
    <p class="welcome-text" align="center">
      {{ .Params.page_content.text }}
    </p>
    <div class="welcome-link" align="center">
      <a href="{{ .Params.page_content.link }}" class="more-details-btn">
        {{ .Params.page_content.link_text }}
      </a>
    </div>
  </div>
{{ end }}