
<footer>
    <span id="linkwrapper">
        <a title="StormyCloud Inc" href="https://stormycloud.org/" target="_blank" data-tooltip="StormyCloud on the Web"><img src="{{ "images/link_web.svg" | relURL }}" width="20" alt="Web"></a> &nbsp;
        <a title="StormyCloud Tiktok" target="_blank" href="https://www.tiktok.com/@stormycloudinc?lang=en" data-tooltip="Find StormyCloud on TikTok"><img src="{{ "images/tiktok.svg" | relURL }}" width="20" alt="TikTok"></a> &nbsp;
        <a title="StormyCloud Instagram" target="_blank" href="https://www.instagram.com/stormycloudinc/" data-tooltip="Find StormyCloud on Instagram"><img src="{{ "images/instagram.svg" | relURL }}" width="20" alt="Instagram"></a> &nbsp;
        <a title="StormyCloud Twitter" target="_blank" href="https://twitter.com/StormyCloudInc" data-tooltip="StormyCloud on Twitter"><img src="{{ "images/link_twitter.svg" | relURL }}" width="20" alt="Twitter"></a> &nbsp;
        <a title="StormyCloud Facebook" target="_blank" href="https://www.facebook.com/p/StormyCloud-Inc-100086492828511/" data-tooltip="Find StormyCloud on Facebook"><img src="{{ "images/facebook.svg" | relURL }}" width="20" alt="Facebook"></a> &nbsp;
        <a title="StormyCloud Discord" target="_blank" href="https://discord.com/invite/McAQBXVg9e" data-tooltip="Join StormyCloud's Discord Server"><img src="{{ "images/discord.svg" | relURL }}" width="20" alt="Discord"></a> &nbsp;
        <a title="StormyCloud I2P" target="_blank" href="http://stormycloud.i2p/" data-tooltip="StormyCloud on the I2P Network"><img src="{{ "images/link_i2p.svg" | relURL }}" width="20" alt="I2P"></a> &nbsp;
        <a title="StormyCloud Natter" target="_blank" href="http://natter.i2p/StormyCloudInc" data-tooltip="StormyCloud on Natter (I2P)"><img src="{{ "images/link_nitter.svg" | relURL }}" width="20" alt="Natter"></a> &nbsp;
        <a title="StormyCloud Onion Link" target="_blank" href="http://a3px3xerx4b2ho7q4pd6e3di734v7tbse3abze6z6ztb6ox3smbqjjad.onion" data-tooltip="StormyCloud .onion site"><img src="{{ "images/link_tor.svg" | relURL }}" width="20" alt="Tor"></a> &nbsp;
        <a title="Skank I2P" target="_blank" href="http://skank.i2p/" data-tooltip="Site design by dr|z3d"><img src="{{ "images/link_info.svg" | relURL }}" width="20" alt="Design by dr|z3d"></a>
    </span>
</footer>
</span>
</span>