<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ .Site.Title}} - {{ .Title }}</title>
{{- $styles := resources.Get "stormy.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
  crossorigin="anonymous">
<link rel="icon" href="{{ " images/favicon.png" | relURL }}" type="image/png">
<link rel="canonical" href="{{ .Permalink }}" />
{{- $image := "" -}}
{{- if .Params.featured_image -}}
{{- with .Resources.GetMatch .Params.featured_image -}}
{{- $image = .Permalink -}}
{{- else -}}
{{- $image = printf "%s%s" site.BaseURL (.Params.featured_image | relURL) -}}
{{- end -}}
{{- else if .Params.image -}}
{{- $image = printf "%s%s" site.BaseURL (.Params.image | relURL) -}}
{{- end }}
<meta name="description" content="{{ .Description }}" />
<meta name="keywords" content="{{ .Params.keywords }}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- if $image }}
<meta property="og:image" content="{{ $image }}" />
{{- end }}
<meta property="twitter:title" content="{{ .Title }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- if $image }}
<meta property="twitter:image" content="{{ $image }}" />
{{- end }}
<meta property="twitter:card" content="summary_large_image" />

{{ if eq .Layout "donate" }}
<!-- Fundraise Up: the new standard for online giving -->
<script>(function (w, d, s, n, a) {
    if (!w[n]) {
      var l = 'call,catch,on,once,set,then,track,openCheckout'
        .split(','), i, o = function (n) {
          return 'function' == typeof n ? o.l.push([arguments]) && o
            : function () { return o.l.push([n, arguments]) && o }
        }, t = d.getElementsByTagName(s)[0],
        j = d.createElement(s); j.async = !0; j.src = 'https://cdn.fundraiseup.com/widget/' + a + '';
      t.parentNode.insertBefore(j, t); o.s = Date.now(); o.v = 5; o.h = w.location.href; o.l = [];
      for (i = 0; i < 8; i++)o[l[i]] = o(l[i]); w[n] = o
    }
  })(window, document, 'script', 'FundraiseUp', 'AAYKECHT');</script>
<!-- End Fundraise Up -->
{{ end }}