{{ define "main" }}
<div class="page-title" style="background-image: url('/{{ .Params.page_content.header_image }}');">
  <h1>{{ .Params.page_content.h1_Heading }}</h1>
</div>

<div class="contact-container">
  {{ range .Params.page_content.contact_methods }}
  <div class="contact-box">
    <img src="/{{ .icon }}" width="50px" alt="{{ .type }} icon">
    <h3>{{ .title }}</h3>

    {{ if eq .type "mail" }}
      {{ range .details }}
        <div>{{ . }}</div>
      {{ end }}

    {{ else if eq .type "email" }}
      {{ range .details }}
        <div>{{ .label }} <a href="mailto:{{ .email }}" title="{{ .email }}">{{ .email }}</a></div>
      {{ end }}
      <a href="/{{ .pgp_key.href }}" class="more-details-btn">{{ .pgp_key.label }}</a>

    {{ else if eq .type "chat" }}
      {{ range .details }}
        <div>{{ . }}</div>
      {{ end }}
      <a href="{{ .link.href }}" class="more-details-btn">{{ .link.label }}</a>
    {{ end }}
  </div>
  {{ end }}
</div>
{{end}}