{{ define "main" }}
<style>
    .guide-content .code-section-dark {
      background: #10172b;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      color: #cfcfcf;
      font-family: Karla, Open Sans, Segoe UI, sans-serif;
      text-align: left;
      margin: 20px auto;
      overflow: auto;
      border-radius: 8px;
      padding: 15px;
    }

    .guide-content .code-section-dark pre {
      margin: 0;
      background-color: transparent;
      font-size: 0.8em;
      overflow: auto;
      padding: 0;
      white-space: pre-wrap;
      line-height: 1.5;
    }

    .guide-content .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0;
    }

    .guide-content img {
      max-width: 85%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .guide-content ul {
      list-style-position: outside;
      padding-left: 0px;
      text-align: left;
    }

    #installlinux .image-container img {
      border-radius: 10px;
      box-shadow: 0 0 0 1px #111, 4px 4px 4px #0003;
} 
#helper img {
    margin-left: 2px;
    width: 20px;
    opacity: .7;
}
.center {
            text-align: center;
        }
        .address-container {
            display: inline-flex;
            align-items: center;
        }
        .long-address {
            display: block;
            font-size: 0.8em;
        }
  </style>
<div class="page-title" style="background-image: url('../{{ .Params.page_content.header_image }}');">
  <h1>{{ .Params.page_content.h1_Heading }}</h1>
</div>

<div class="guide-content">
  {{ range .Params.page_content.sections }}
    {{- if eq .type "heading1" }}
      <h1>{{ .text }}</h1>
    {{- else if eq .type "heading2" }}
      <h2>{{ .text }}</h2>
    {{- else if eq .type "heading3" }}
      <h3>{{ .text }}</h3>
    {{- else if eq .type "heading4" }}
      <h4>{{ .text }}</h4>
    {{- else if eq .type "heading5" }}
      <h5>{{ .text }}</h5>
    {{- else if eq .type "heading6" }}
      <h6>{{ .text }}</h6>
    {{- else if eq .type "paragraph" }}
      <p>{{ .text | safeHTML | markdownify  }}</p>

   {{- else if eq .type "image" }}
    <div class="image-container">
      <img src="{{ .src | relURL }}" alt="{{ .alt }}">
    </div>


    {{- else if eq .type "code" }}
      <div class="code-section-dark">
        {{ with .title }}<strong>{{ . }}</strong>{{ end }}
        <pre>{{ .content }}</pre>
      </div>

    {{- else if eq .type "list" }}
      {{ with .title }}<h3>{{ . }}</h3>{{ end }}
      <ul>
        {{ range .items }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
</div>
{{ end }}
