{{ define "main" }}
<div class="page-title" style="background-image: url('/images/outproxy-title.webp');">
  <h1>{{ .Params.page_content.h1_Heading }}</h1>
</div>
<center>
  <h2 class="line-short">{{ .Params.page_content.h2_Heading }}</h2>
</center>

<div class="stats-container">
  <div class="stats-row">
    {{ range .Params.page_content.stats }}
    <div class="stats-item">
      <iframe src="{{ .src }}" frameborder="0" title="{{ .alt }}"></iframe>
    </div>
    {{ end }}
  </div>

  {{ with .Params.page_content.additional_heading }}
    <h2 class="line-short">{{ . }}</h2>
  {{ end }}

  <div class="stats-row">
    {{ range .Params.page_content.stats_extra }}
    <div class="stats-item">
      <iframe src="{{ .src }}" frameborder="0" title="{{ .alt }}"></iframe>
    </div>
    {{ end }}
  </div>
</div>
  {{ end }}