{{ define "main" }}
  <div class="welcome-section">
    <span class="logo">
      <img src="{{ .Params.welcome_message.image | relURL }}" width="160" alt="{{ .Params.welcome_message.image_alt }}">
    </span>
    <h1>{{ .Params.welcome_message.title }}</h1>
    <p class="welcome-text" align="center">
      {{ .Params.welcome_message.text }}
    </p>
    <div class="welcome-link" align="center">
      <a href="{{ .Params.welcome_message.link }}" class="more-details-btn">
        {{ .Params.welcome_message.link_text }}
      </a>
    </div>
  </div>
{{ end }}